name: CI

on:
  push:
    branches: [main]

jobs:
  publish:
    name: Publish NuGet package
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # 2.3.4
      - uses: rohith/publish-nuget@c12b8546b67672ee38ac87bea491ac94a587f7cc # 2.5.5
        with:
          PROJECT_FILE_PATH: src/Exercism.Tests/Exercism.Tests.csproj
          NUGET_KEY: ${{ secrets.NUGET_API_KEY }}
          INCLUDE_SYMBOLS: true
